[Unit]
Description=Gunicorn Daemon

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/django_sample
ExecStart=/home/ubuntu/.pyenv/shims/gunicorn --bind unix:/tmp/gunicorn.sock heestagram.wsgi

[Install]
WantedBy=multi-user.target